<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="from.email" value="no-reply@cmsalliance.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@cmsalliance.com">
        <network host="mail.cmsalliance.com" port="25" userName="no-reply@cmsalliance.com" password="pa55word" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="CAEntities" connectionString="metadata=res://*/App_Code.DBModel.csdl|res://*/App_Code.DBModel.ssdl|res://*/App_Code.DBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=my01.winhost.com;User Id=website;password=Amak0z1;Persist Security Info=True;database=mysql_21051_cmsalliance&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>